.main__section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.main__paragraph {
  margin-bottom: 20px;
}

.main__signature {
  font-size: 18px;
  font-weight: 700;
}
